.login {
  .content {
    margin-top: 50px;;

    form {
      .form-group {
        margin-bottom: 0;
      }

      label {
        margin-bottom: $padding-base-vertical;
      }

      input {
        @extend .form-control;

        margin-bottom: $padding-base-vertical * 2;
      }

      button {
        margin-top: $padding-base-vertical;
        width: 100%;
      }
    }
  }
}
