<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        {{#link-to 'authenticated.transactions'}}
          <img class="img-responsive" alt="Mondo" src="https://dl.dropboxusercontent.com/u/4162565/mondo.png">
        {{/link-to}}
      </div>
    </div>

    <ul class="nav navbar-nav">
      <li class="transactions">
        {{#link-to 'authenticated.transactions'}}
          Transactions
        {{/link-to}}
      </li>

      <li class="webhooks">
        {{#link-to 'authenticated.webhooks'}}
          Webhooks
        {{/link-to}}
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="logout"><a {{action "logOut"}}>Log Out</a></li>
    </ul>
  </div>
</nav>

{{outlet}}
