<div class="col-md-1">
  <img class="img-responsive" src={{logo}}>
</div>

<div class="col-md-8">
  {{title}}
</div>

<div class="col-md-3 amount">
  {{format-number amount style="currency" currency=transaction.currency}}
</div>
